<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 3-D Model</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/controllers/ModelDetailsCtrl.js"></script>
    <script src="/js/Apps/modelDetailsApp.js"></script>
</head>

<body ng-app="modelDetailsApp" ng-controller="modelDetailsController">
    <p>{{ message }}</p>
    <div id="container"></div>
    <div>
        <h2>{{model.Title}}</h2>
        <p>Author: {{model.arthur}}</p>
        <p>Tags: {{model.tags}}</p>
        <input type="text" ng-model="Tag" />
        <button ng-click="sendTag()">Add Tag</button>
    </div>

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="JSRHTKDFARLRE">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <input type="hidden" name="item_number" value={{model._id}}>
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


    <!--SCRIPTS-->
    <script src="/js/Libraries/three.min.js"></script>
    <script src="/js/Libraries/OrbitControls.js"></script>
    <script src=/js/cube.js></script>
</body>

</html>