<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 3-D Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/controllers/ProfileCtrl.js"></script>
    <script src="/js/Apps/profileApp.js"></script>
</head>

<body ng-app="profileApp" ng-controller="ProfileController">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div>Welcome to your models site</div>
    <div ng-repeat="model in user.data.models">
        <a ng-click="getModel(model._id)">Download</a>
    </div>


</body>

</html>