<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 3-D Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/Controllers/ProfileCtrl.js"></script>
    <script src="/js/Apps/profileApp.js"></script>
</head>

<body ng-app="profileApp" ng-controller="ProfileController">
    <div class="row">
        <div class="col-xs-1">
            <a href="/">
                <div class="sitelogo">
                    <img id="logo" src="/images/CapLogo.png" width=118 height=118/>
                </div>
            </a>
        </div>
        <div class="col-xs-7">
            <nav>
                <ul>
                    <li class="home"><a href="/"><i class="fa fa-home"></i></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Favorites</h1>
    </div>

    <div style="text-align: left">
        <ul>
            <div class="row">
                <li ng-repeat="fav in user.data.favorites">
                    <div class="col-md-3 col-md-offset-4">
                        <a href={{fav.urlString}}>
                            <h4 style="color: white"><span class="fa fa-star" style="color: yellow"></span> {{fav.Name}}</h4>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a><h4 ng-click="removeFavorite(fav.urlString, fav.Name)" style="color: black"><i class="fa fa-minus-square" ></i> Remove</h4></a>
                    </div>
                </li>
            </div>
        </ul>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-folder"></span> Your Models</h1>
    </div>
    <div style="text-align: left">
        <ul>
            <div class="row">
                <li ng-repeat="model in user.data.models">
                    <div class="col-md-3 col-md-offset-4">
                        <h4 style="color: white"><span class="fa fa-cube" style="color: black"></span>{{model.Name}}</h4>
                    </div>
                    <div class="col-md-1">
                        <a ng-click="getModel(model._id)"><h4 style="color: black"> - Download</h4></a>
                    </div>
            </div>
        </ul>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-gear"></span>Account Settings</h1>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-2 col-sm-offset-3">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <a ng-if="user.data.local.email" href="/unlink/local" class="btn btn-default">Unlink</a>
                <a ng-if="!user.data.local.email" href="/connect/local" class="btn btn-default">Connect Local</a>

            </div>
        </div>

        <div class="col-sm-2">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                <a ng-if="user.data.facebook.token" href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <a ng-if="!user.data.facebook.token" href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>


            </div>
        </div>

        <div class="col-sm-2">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                <a ng-if="user.data.google.token" href="/unlink/google" class="btn btn-danger">Unlink</a>
                <a ng-if="!user.data.google.token" href="/connect/google" class="btn btn-danger">Connect Google</a>

            </div>
        </div>
    </div>



</body>

</html>