<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 3-D</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/Controllers/SearchCtrl.js"></script>
    <script src="js/Apps/searchApp.js"></script>
</head>

<body ng-app="searchApp" ng-controller="searchController">
    <div class="mainbg">
        <div class="row">
            <div class="col-xs-1">
                <a href="/">
                    <div class="sitelogo">
                        <img id="logo" src="/images/CapLogo.png" width=118 height=118/>
                    </div>
                </a>
            </div>
            <div class="col-xs-7">
                <nav>
                    <ul>
                        <li class="home"><a href="/"><i class="fa fa-home"></i></a></li>
                        <li ng-show="user.data === ''"><a href="/login">Login</a></li>
                        <li><a href="/logout" ng-show="user.data !== ''">Logout</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="well well-sm">
                    <label>
                        <h2>Title:</h2></label>
                    <input type="text" class="form-control" placeholder="Search For a Title" ng-model="search.Title">
                    <label>
                        <h2>Author:</h2></label>
                    <input type="text" class="form-control" placeholder="Search For an Author" ng-model="search.arthur">
                    <label>
                        <h2>Tags:</h2></label>
                    <input type="text" ng-model="tags" placeholder="Search Tag" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <h3>Search Results</h3>

                <button class="btn btn-default" ng-click="sortType = 'Title'; sortReverse = !sortReverse">
                    Title
                    <span ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                </button>
                <button class="btn btn-default" ng-click="sortType = 'arthur'; sortReverse = !sortReverse">
                    Author
                    <span ng-show="sortType == 'arthur' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'arthur' && sortReverse" class="fa fa-caret-up"></span>

                </button>
                <button class="btn btn-default" ng-click="sortType='price'; sortReverse = !sortReverse">
                    Price
                    <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>

                </button>
                <hr>
                <div class="row" id="resultsbox">

                    <div class="col-md-4" ng-repeat="model in (filteredItems =  (model_list | orderBy:sortType:sortReverse | filter:search  | filter:tag).slice(begin, end)) | startFrom: (currentPage - 1)* pageSize | limitTo:pageSize">
                        <div class="well well-sm">
                            <a href="/Model/Details/{{model._id}}">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <img src="{{model.image}}" width="80px" height="80px" />
                                    </div>
                                    <p>
                                        {{model.Title}}
                                    </p>
                                    <p>
                                        {{model.arthur}}
                                    </p>
                                    <p>
                                        ${{model.price}}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <pagination total-items="filteredItems.length" ng-Model="currentPage" items-per-page="pageSize">
                </pagination>
            </div>
        </div>
    </div>
</body>

</html>